.calendar .header .day {
  border: 1px solid black;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.calendar .week .day:last-child, .calendar .header .day:last-child {
  border-right-width: 1px;
}

.calendar .week .day {
  border: 1px solid black;
  border-right-width: 0px;
  border-bottom-width: 0px;
  min-height: 120px;
}

.calendar .week:last-child .day {
  border-bottom-width: 1px;
}

.calendar .week .day .date {
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 10px 3px 0px;
  text-align: right;
}