<div class="calendar" *ngFor="let monthModel of calendarModel">
  <h1>MONTH of YEAR</h1>
  <div class="row header">
    <div class="col-sm day">
      <h1>S</h1>
    </div>
    <div class="col-sm day">
      <h1>M</h1>
    </div>
    <div class="col-sm day">
      <h1>T</h1>
    </div>
    <div class="col-sm day">
      <h1>W</h1>
    </div>
    <div class="col-sm day">
      <h1>T</h1>
    </div>
    <div class="col-sm day">
      <h1>F</h1>
    </div>
    <div class="col-sm day">
      <h1>S</h1>
    </div>
  </div>
  <div class="row week" *ngFor="let weekModel of monthModel.weeks">
    <div class="col-sm day" *ngFor="let day of weekModel.days;">
      <span class="date">DATE</span>
    </div>
  </div>
</div>