<div class="calendar">
  <h1>MONTH of YEAR</h1>
  <div class="row header">
    <div class="col-sm day">
      <h1>S</h1>
    </div>
    <div class="col-sm day">
      <h1>M</h1>
    </div>
    <div class="col-sm day">
      <h1>T</h1>
    </div>
    <div class="col-sm day">
      <h1>W</h1>
    </div>
    <div class="col-sm day">
      <h1>T</h1>
    </div>
    <div class="col-sm day">
      <h1>F</h1>
    </div>
    <div class="col-sm day">
      <h1>S</h1>
    </div>
  </div>
  <div class="row week">
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
  </div>
  <div class="row week">
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
  </div>
  <div class="row week">
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
  </div>
  <div class="row week">
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
  </div>
  <div class="row week">
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
    <div class="col-sm day">
      <span class="date">DATE</span>
    </div>
  </div>
</div>